{% if include.style == "doctree" %}
{% assign listyle = "dd-item" %}  
{% assign addi = "<i class='fa liSingle li-item-icon'></i>" %}  
{% assign addclosed = "<i class='fa liClosed li-item-icon'></i>" %}  
{% endif %}
<ul>
{% assign nextdepth = include.depth | plus:1 %}
{% assign prevdepth = include.depth | minus:1 %}
{% for p in site.pages %}
{%- if p.dir == include.folder -%}
{%- if p.name contains "index" -%}
{% else %}
  <li class="{{ listyle }}">{{ addi }}<a href="{{site.baseurl}}{{p.url}}"><span>{{ p.title }}</span></a></li>
  {% if include.showdesc %}<p>{{ p.description }}</p>{% endif %}
{% endif %}
{% else %}
{% if p.dir contains include.folder %}
{% assign parts = p.dir | split: "/" %}
{% if parts.size == nextdepth and p.name contains "index" %}
<li class="{{ listyle }}">{{ addclosed }}<a href="{{site.baseurl}}{{p.url}}"><span>{{ p.title }}</span></a>
{% if include.showdesc %}
  </li><p>{{ p.description }}</p>
{% else %}
  {% include listdir.html folder=p.dir depth=nextdepth style=include.style %}</li>
{% endif %}
{% assign nextdepth = include.depth | plus:1 %}
{% assign prevdepth = include.depth | minus:1 %}
{%- endif -%}
{%- endif -%}
{%- endif -%}
{% endfor %}
</ul>