{% if include.style == "doctree" %}
  {% assign listyle = "dd-item" %}
  {% assign addi = "<i class='fa liSingle li-item-icon'></i>" %}
  {% assign addclosed = "<i class='fa liClosed li-item-icon'></i>" %}
{% endif %}

<ul>
  {% assign nextdepth = include.depth | plus:1 %}

  {% assign folder_pages = site.pages | where: "dir", include.folder %}
  {% assign sorted_pages = folder_pages | sort: "order" %}

  {% for p in sorted_pages %}
    {% assign parts = p.dir | split: "/" %}
    {% if parts.size == include.depth and p.name == "index.md" %}
      <li class="{{ listyle }}">{{ addclosed }}<a href="{{ site.baseurl }}{{ p.url }}"><span>{{ p.title }}</span></a>
      {% if include.showdesc %}
        </li><p>{{ p.description }}</p>
      {% else %}
        {% include listdir.html folder=p.dir depth=nextdepth style=include.style %}
      </li>
      {% endif %}
    {% endif %}
    
    {% if p.dir == include.folder and p.name != "index.md" %}
      <li class="{{ listyle }}">{{ addi }}<a href="{{ site.baseurl }}{{ p.url }}"><span>{{ p.title }}</span></a></li>
      {% if include.showdesc %}<p>{{ p.description }}</p>{% endif %}
    {% endif %}
  {% endfor %}
</ul>
